
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&family=Nunito+Sans:wght@300;600;800&display=swap'); 

body {
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
}


.country p span {
    margin-left: 10px;
}


.img-wrapper,
.img-wrapper img {
    border-radius: 5px 5px 0 0;
}


.search:focus,
.search:active {
    outline: none;
}


.bottom-shadow {
    box-shadow: -1px 1px 8px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 1px 8px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 8px -3px rgba(0,0,0,0.75);
}


.round-shadow {
    box-shadow: -1px 4px 17px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 4px 17px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 17px -15px rgba(0,0,0,0.75);
}


.page {
    height: 85vh;
}

.info p {
    font-size: 13px;
}