
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&family=Nunito+Sans:wght@300;600;800&display=swap'); 

body {
    font-family: 'Nunito Sans', sans-serif;
}


.country p span {
    margin-left: 10px;
}


.img-wrapper,
.img-wrapper img {
    border-radius: 5px 5px 0 0;
}


.search:focus,
.search:active {
    outline: none;
}